PORT=3000
DB_URI=mongodb+srv://username:password@cluster.mongodb.net/payload-testing
JWT_SECRET=your_jwt_secret_here
JWT_ACCESS_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=7d
CORS_ORIGINS=https://review-and-rate-fe-git-main-swapnil887s-projects.vercel.app,http://localhost:5173,http://localhost:3000,http://localhost:3001
